:root{
    --head-text:#212121;
    --accent-text:#2196F3;
    --primary-text:#757575;
    --footer-text: #FFFFFF;
    --tomato-color: #DD5F18;
    --address-text:color: rgba(255, 255, 255, 0.6);
    --background-button: #188CE8;


}
html{
    box-sizing: border-box ;

}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text);
}
.list-none{
    list-style: none;
    margin-bottom: 0px;
}
.container{
    outline: 2px solid tomato;
    width: 1200px;
    margin-left: 215px;
    margin-right: 215px;
    padding-left: 15px;
    padding-right: 15px;
    

}
h3{
    display: inline;
    color: var(--head-text);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
/*Header-section*/

    .header-section{
        background-color: #FFFFFF;

        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        border-color: #ECECEC;
        }

    .nav-head{
        display:flex ;
        align-items: center;
       
    }
    .header-list{
        list-style: none;
        margin-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
       
        display: flex;
       
    }
        

    .header-list .item + .item{
        margin-left: 50px;
    }
    
    .logo{
        padding-bottom: 25px;
        padding-top: 24px;        
        margin-right: 93px;

        color: var(--head-text);
        text-decoration: none;
        font-family: Raleway;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;

    }
    .logo:hover{
        color: var(--accent-text)
    }
    .logo:focus{
        color: var(--accent-text);
    }
    .logo-web{
        color: var(--accent-text);
    }
    .logo-web:hover{
        color: var(--accent-text);
    }
    .logo-web:focus{
        color: var(--accent-text);
    }

/*Header-links*/

    .home-links{
        color: var(--head-text);
        text-decoration: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        margin-left: 0px;
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;

    }
    .home-links.current{
        color: var(--accent-text);
    }
    .home-links:hover{
        color: var(--accent-text);
    }
    .home-links:focus{
        color: var(--accent-text);  
    }


    .header-links{
        color: var(--head-text);
        text-decoration: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .header-links:hover{
        color: var(--accent-text);
    }
    .header-links:focus{
        color: var(--accent-text);  
    }

/*Header-contacts*/


    .list-contacts{
        display: flex;
        list-style: none;
        margin-bottom: 0px;
        margin-top: 0px;       
        justify-content: flex-end;
        align-items:center;

        
    }
    .list-contacts .item + .item{
        margin-left: 50px;
    }

    .header-contacts{
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
        padding-right: 15px;
      

        color: var(--primary-text);
        text-decoration: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        
    }
    .header-contacts:hover{
        color: var(--accent-text);
    }
    .header-contacts:focus{
        color: var(--accent-text);
    }

/*Main section*/
  
    .button-list{
        list-style: none;
        display: flex;
        justify-content: center;

        margin-left: 215px;
        margin-right: 215px;
        margin-top: 94px;
        margin-bottom: 0px;
        
     
    }
    .button-list .item + .item{
        margin-left: 8px;
    }  

    .main-button{
        background-color: #F5F4FA; 
        color: var(--head-text);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.03em;
        cursor: pointer;
        border: none;
        border-radius: 4px;
        margin-bottom: 16px;

      

    }
    .main-button:hover{
        background-color: #2196F3;
        color: var(--footer-text);
    
    }
    .main-button:focus{
        background-color: #2196F3;
        color: var(--footer-text); 
    }
    .section-list{
        background-color: #FFFFFF;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        

        margin-top: 88px;
        margin-bottom: 30px;

    }
    .card{
        outline: 2px solid tomato;
        margin-bottom: 30px;
        margin-right: 30px;

        background: #FFFFFF;
        border: 1px solid #EEEEEE;  
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        

        width: 370px;
        /* Можно указывать ширину в %(это поможет при увеличении ширины контейнера)
        width: 33.3333%;
        или 
        width: calc((100%-60px(маржины))/N(нужное кол.елементов ))
        браузер в таком случае автоматически задает ширину контейнерам)
        Но при этом убираем правые маржины в каждых третих
        */
    }
    .card:nth-child(3n){
        margin-right: 0px;
    }
    .card:nth-last-child(-n+3){
        margin-bottom: 0px;
    }
    /* Альтернатива(нужно задать в .card нулевые margin
    .card:not(:nth-child(3n)){
        margin-right: 30px;
    }
    .card:not(:nth-last-child(-n+3)){
        margin-bottom: 30px;
    }*/
    
    .text-card{        
        padding: 20px 24px;
        background-color: #FFFFFF;

    }
    .card-head{
        margin-top: 0px;
        margin-bottom: 0px;

        color: var(--head-text);
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
     
    }
    .primary-text{
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.03em;
        margin-top: 4px;
        margin-bottom: 0px;
    }
    
/*Footer-section*/


    .footer-section{
        background-color: #2F303A;
        margin-top: 0px;
        margin-bottom: 0px;

    }   
    .footer-nav{
    padding-top: 60px;
    padding-bottom: 60px;
    }
    .logo-footer{
        color: var(--footer-text);
        text-decoration: none;
        font-family: Raleway;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
  
    }
    .logo-footer:hover{
        color: var(--accent-text);
    }
    .logo-footer:focus{
        color: var(--accent-text);
    }
    .footer-data{
        margin-top: 50px;
      
    }
    .footer-address{
        color: var(--footer-text);
        text-decoration: none;
        font-style: normal;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        margin-top: 0px;
        margin-bottom: 0px;      
    }
    .contacts-data{
        margin-top: 9px;
        display: block;
    }
    .footer-contacts{
        color: rgba(255, 255, 255, 0.6);
        text-decoration: none;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        margin-top: 9px;
    }
    .footer-contacts:hover{
        color: var(--accent-text);
    }
    .footer-contacts:focus{
        color: var(--accent-text);
    }

/*Studio html*/
    .services-section{
        background-color: #2F303A;
        color: var(--footer-text);
        text-align: center;
        width: 1600px;
        height: 600px;
    }
    .services-head{
        margin-top: 200px;
        margin-bottom: 0px;
        width: 696px;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        display: inline-block;
    }
    .services-button{
        display:inline-block;
        min-width: 200px;
        background-color: var(--background-button);
        color: var(--footer-text);
        font-family: Roboto;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.86;
        letter-spacing: 0.06em;
        border-radius: 4px;
        padding: 10px 32px;
        margin-top: 30px;
        margin-bottom: 200px;
        margin-left: 697px;    
        margin-right: 697px; 
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-color: var(--accent-text);
    }
 
/*Characteristics section*/
    .container .characteristics-section{
        display: flex;
        align-items: center;

    }

    .characteristics-list .item + .item{
        margin-left: 30px;
    }

    .characteristics-section{
        margin-top: 94px;
        margin-bottom: 0px;


       
    }
    .characteristics-list{
        list-style: none;
        margin-bottom: 0px;
        display: flex;
        align-items: center;
    }
    .characteristics-text{
        font-family: Roboto;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        margin-bottom: 0px;
        margin-top: 10px;
    }
    .characteristics-head{      
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-top: 0px;
        margin-bottom: 0px;
    }

/* Catalog section*/ 
 
    .catalog-head{  
        margin-top: 94px;
        margin-bottom: 50px;
        outline: 2px solid tomato;
        color: var(--head-text);
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
    }
    

    .catalog-list{
        display: flex;
        align-items: center;
        padding-left: 0px;
        padding-right: 0px;

        list-style: none;
        margin-bottom: 0px;
        outline: 2px solid tomato;
    }
    .catalog-list .item + .item{
        margin-left: 30px;
    }
/*Team section*/

    .team-section{
        background-color: #F5F4FA;
        margin-top: 94px;
        margin-bottom: 0px;
        
    }
    .team-head{
    
      
        padding-top: 94px;
        color: var(--head-text);
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
    }
    .team-list{
        list-style: none;
        display: flex;
        padding-left: 0px;
        margin-bottom: 0px;
        padding-bottom: 94px;
    }
    .team-list .team + .team{
        margin-left: 30px;
    }
    .team{
        background-color: white;

        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;

    }
    .card-text{
        margin: 30px 59px 30px 59px;
        display: block;
        text-align: center;

    }

    .third-head{
       
       
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        
        letter-spacing: 0.03em;
    }
    .team-text{
        margin-bottom: 0px;
        margin-top: 0px;
        padding-top: 10px;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
    }
/* Footer section*/
